@using TravelBlogApp.Models.Sınıflar
@model List<Blog>




<div class="padding1">
    <h4>Tavsiye Ettiğim Yerler</h4>
    <div class="box-left">
        @foreach (var x in Model)
        {
            if (x.ID <= 7)
            {
                <div class="bot-img">
                    <img src="@x.BlogImage" alt="" style="width:120px; height:80px;" />
                </div>
                <div class="bot-desc">
                    <p>@x.Aciklama.Substring(0, 85) </p>
                </div>
                <div class="clear"></div>
            }

        }
    </div>
    @foreach (var y in Model)
    {
        if (y.ID >= 6 && y.ID <= 8)
        {
            <div class="box1-left">
                <div class="bot-img">
                    <img src="@y.BlogImage" alt="" style="width:120px; height:80px;" />
                </div>
                <div class="bot-desc1">
                    <p>@y.Aciklama.Substring(0, 85) </p>
                </div>
                <div class="clear"></div>
            </div>
        }

    }
</div>
































@*<div class="padding1">
    <h4>En Beğendiğim Yerler</h4>
    <div class="box-left">
        <div class="bot-img">
            <img src="~/web/images/pic3.jpg" alt="" />
        </div>
        <div class="bot-desc">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p>
        </div>
        <div class="clear"></div>
        <div class="bot-img">
            <img src="~/web/images/pic7.jpg" alt="" />
        </div>
        <div class="bot-desc">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p>
        </div>
        <div class="clear"></div>
        <div class="bot-img">
            <img src="~/web/images/pic8.jpg" alt="" />
        </div>
        <div class="bot-desc">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="box1-left">
        <div class="bot-img">
            <img src="~/web/images/pic9.jpg" alt="" />
        </div>
        <div class="bot-desc1">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p>
        </div>
        <div class="clear"></div>
        <div class="bot-img">
            <img src="~/web/images/pic10.jpg" alt="" />
        </div>
        <div class="bot-desc1">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p>
        </div>
        <div class="clear"></div>
        <div class="bot-img">
            <img src="~/web/images/pic3.jpg" alt="" />
        </div>
        <div class="bot-desc1">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p>
        </div>
        <div class="clear"></div>
    </div>
</div>*@